<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Debug-only entry point for Android Native Home visual parity checks. -->
        <activity
            android:name=".NativeHomePortActivity"
            android:exported="true"
            android:label="Gleaum Native Home Preview"
            android:theme="@style/AppTheme.NoActionBar"
            tools:replace="android:exported,android:label" />
    </application>
</manifest>
